body{
  /*background-color:#c8c8cf;*/
  background-image: url('./components/image/body.jpeg');
}
#div_0{display: flex;height: 23px;align-content: center;flex-direction: row;/* justify-content: space-evenly; */}
#title1{
  margin-left: 126px;
  text-align: center;
}
#title2{
  flex-basis: 10%;
  text-align: right;
  margin-left: 23px;
}
#title3{
  flex-basis: 8%;
  margin-left: 91px;
}
#title4{
  margin-left: 13px;
}
#div_1{display: flex;height: 30px;align-content: center;flex-direction: row;}
#heading{
  padding: 7px;
  text-align: center;
  /* background-color: white; */
  flex-basis: 7%;
  flex-basis: 8%;
  border: px solid red;
}
.date_text_field{margin: 3px;}
.timer_time{
  margin: 3px;
  margin-left: 22px;
}
button{
  outline: none;
  cursor: pointer;
  
}
#root{}
.block{
  display:flex;
  border-radius: 10px;
  /* min-height: 100px; */
  background: rgb(235, 235, 235);
  padding: .5em;
  margin: 1em 1em 1em 1em;
  flex-direction: row;
  flex-wrap: wrap;
}
.thumbs
{
  font-size: 36px;
}
.item1
{flex-basis: 162px;order: 0;margin: 0;text-align: left;}
.item2
{flex-basis: 100%;order: 2;margin: 0px;margin-left: 14px;font-size: 12px;/* display: flex; */height: 15px;width: 100%;text-align: left;}
.item3
{order: 3;margin: 0px;}
.item4
{order: 6;flex-basis: 98px;}
.item5
{/* flex-basis: 25%; */order: 4;height: 22px;margin-top: 4px;margin-right: 10px;}
.item6
{order: 5;}
.item7
{
  order: 7;
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.item8
{
  order: 1;
  flex-basis: 73%;
  text-align: left;
}
.item9
{
  order: 1;
  flex-basis: 55%;
  font-weight: 600;
  text-align: right;
}
.completed_button_div
{
  /* background-color: #00962e; */
  /* color: white; */
  /* border: none; */
  /* border-radius: 100px; */
  /* padding: 0.2em; */
  order: 7;
  flex-basis: 22%;
}
.completed_button_field
{
  /* background-color: #00962e; */
  /* color: white; */
  /* border: none; */
  /* border-radius: 100px; */
  /* padding: 0.2em; */
  background-color: #00962e;
  color: white;
  border: none;
  border-radius: 100px;
  padding: 0.2em;
}
.button_field{
  background-color: #00962e;
  color: white;
  border: none;
  border-radius: 100px;
  padding: 0.2em;
  /* flex-basis: 6%; */
  /* margin-top: 1em; */
}
.present{
  /* display: flex; */
  flex-direction: column;
  width: 33%;
  height: 100%;
  float: left;
  background-color:#c8c8cf;
  opacity: 0.7;
  border-collapse:collapse;
  margin-top: 1em;
  border-radius: 50px;
  text-align:center;
  margin-bottom: 0.5em;
}

.past{
  /* display: flex; */
  flex-direction: column;
  width: 33%;
  height: 100%;
  float: right;
  background-color:#c8c8cf;
  border-collapse: collapse;
  opacity: 0.7;
  margin-top: 1em;
  margin-top: 1em;
  border-radius: 50px;
  text-align:center;
  margin-bottom: 0.5em;
}

.future{
  /* display: flex; */
  width: 34%;
  height: 100%;
  position: relative;
  float: left;
  background-color: #c8c8cf;
  border-collapse: collapse;
  opacity: 0.7;
  margin-top: 1em;
  margin-top: 1em;
  border-radius: 50px;
  text-align:center;
  margin-bottom: 0.5em;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.present_div{
/* overflow: auto; */
max-height: 660px;
overflow-y: auto;
display: flex;
flex-direction: column;
width: 33%;
/* max-height: 100px; */
float: left;
/* background-color:#c8c8cf; */
border-collapse:collapse;
/* margin-top: 1em; */
border-radius: 50px;
text-align:center;
margin-bottom: 0.5em;
}

.future_div{
  max-height: 660px;
  overflow-y: auto;
  display: flex;
  width: 34%;
  height: 100%;
  position: relative;
  float: left;
  /* background-color: #c8c8cf; */
  border-collapse: collapse;
  /* margin-top: 1em; */
  /* margin-top: 1em; */
  border-radius: 50px;
  text-align:center;
  margin-bottom: 0.5em;
  flex-direction: column;
  /*flex-wrap: wrap;*/
  align-items: center;
}

.past_div{
  max-height: 660px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100%;
  float: right;
  /* background-color:#c8c8cf; */
  border-collapse: collapse;
  margin-top: 1em;
  /* margin-top: 1em; */
  border-radius: 50px;
  text-align:center;
  margin-bottom: 0.5em;
}


.card{
  height: 42px;
  flex-basis: 100%;
  /* border: 1px solid blue; */
  border-radius: 4px;
  border-bottom: rgb(122, 115, 115) 1px solid;
  background: white;
  margin: 0.5em 0 0 0;
  padding: 0.5em;
  font-size: 0.9em;
  position: relative;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}



.new_win{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  align-items:center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.inner_win
{
  top: 0;
  left: 0;
  background-color: rgb(235, 235, 235);
  width: 700px;
  min-height: 200px;
  margin: auto;
  padding: 1em;
  border-radius: 4px;
}

.win_title{
  color: #353832;
  text-align:left;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.win_desc{
  width: 100%;
  text-align:left;
  margin-bottom: 2em;
  line-height: 1.5em;
}


.delbutton{
  background:none;
  border:none;
  order: 3;
}
.checkbox_button
{
  /* margin-right:-400px; */
  margin-top:15px;
  order: 2;
  flex-basis: 15%;
}